{
    "common": {
        "term_truecolor": true,
        "watcher": "auto"
    },
    "ext": {
        "shell": {
        "colorscheme": "<%- scheme %>",
            "theme": "default_leftonly",
            "local_themes": {
                "continuation": "continuation",
                "select": "select"
            }
        },
        "tmux": {
            "colorscheme": "dracula-pro",
            "theme": "default"
        }
    }
}
