# Dracula themed dark color settings for colorls
#
# Main Colors
unrecognized_file: '#<%- base["09"]["hex"] %>' # Orange
recognized_file:   '#<%- base["05"]["hex"] %>' # Foreground
dir:               '#<%- base["0D"]["hex"] %>' # Purple

# Link
dead_link: '#<%- base["08"]["hex"] %>'         # Red
link:      '#<%- base["0C"]["hex"] %>'         # Cyan

# Special Files
socket:    '#<%- base["0B"]["hex"] %>'         # Green
blockdev:  '#<%- base["0B"]["hex"] %>'         # Green
chardev:   '#<%- base["0B"]["hex"] %>'         # Green

# Access Modes
write:     '#ff80bf'         # Pink
read:      '#<%- base["0D"]["hex"] %>'         # Purple
exec:      '#<%- base["0C"]["hex"] %>'         # Cyan
no_access: '#<%- base["08"]["hex"] %>'         # Red

# Age
hour_old:    '#<%- base["03"]["hex"] %>'       # Comment
day_old:     '#<%- base["02"]["hex"] %>'       # Current Line
no_modifier: '#<%- base["05"]["hex"] %>'       # Foreground

# File Size
file_large:  '#<%- base["08"]["hex"] %>'       # Red
file_medium: '#<%- base["09"]["hex"] %>'       # Orange
file_small:  '#<%- base["0B"]["hex"] %>'       # Green

# Random
report: '#<%- base["0B"]["hex"] %>'            # Green
user:   '#<%- base["0C"]["hex"] %>'            # Cyan
tree:   '#<%- base["02"]["hex"] %>'            # Current Line
empty:  '#<%- base["03"]["hex"] %>'            # Comment
error:  '#<%- base["08"]["hex"] %>'            # Red
normal: '#<%- base["05"]["hex"] %>'            # Foreground

# Git
addition:     '#<%- base["0C"]["hex"] %>'      # Cyan
modification: '#<%- base["0A"]["hex"] %>'      # Yellow
deletion:     '#<%- base["08"]["hex"] %>'      # Red
untracked:    '#<%- base["09"]["hex"] %>'      # Orange
unchanged:    '#<%- base["0B"]["hex"] %>'      # Green
