# Dracula Color Palette
set -l foreground <%- base["05"]["hex"] %>
set -l selection <%- base["02"]["hex"] %>
set -l comment <%- base["03"]["hex"] %>
set -l red <%- base["08"]["hex"] %>
set -l orange <%- base["09"]["hex"] %>
set -l yellow <%- base["0A"]["hex"] %>
set -l green <%- base["0B"]["hex"] %>
set -l purple <%- base["1D"]["hex"] %>
set -l cyan <%- base["0C"]["hex"] %>
set -l pink <%- base["0E"]["hex"] %>

# Syntax Highlighting Colors
set -g fish_color_normal $foreground
set -g fish_color_command $cyan
set -g fish_color_quote $yellow
set -g fish_color_redirection $foreground
set -g fish_color_end $orange
set -g fish_color_error $red
set -g fish_color_param $purple
set -g fish_color_comment $comment
set -g fish_color_match --background=$selection
set -g fish_color_selection --background=$selection
set -g fish_color_search_match --background=$selection
set -g fish_color_operator $green
set -g fish_color_escape $pink
set -g fish_color_autosuggestion $comment

set -g fish_color_cwd $green
set -g fish_color_cwd_root $red
set -g fish_color_host $foreground
set -g fish_color_host_remote $yellow
set -g fish_color_status $red
set -g fish_color_user $green

# Completion Pager Colors
set -g fish_pager_color_progress $comment
set -g fish_pager_color_prefix $cyan
set -g fish_pager_color_completion $foreground
set -g fish_pager_color_description $comment
